.recommendation {
  margin-bottom: 15px;
  max-width: 150px;
}

.recommendation__content {
  background-color: $RecommendationBackgroundColor;
  color: $RecommendationColor;
  font-family: "Comfortaa";
  font-size: 13px;
  padding: 4px 5px;
  text-align: center;
}