.news__item {
  padding-top: 25px;
  border-bottom: 1px solid $BorderColor;

  &:hover {
    cursor: pointer;

    & .heading__content {
      color: $HoverGreen;
    }
  }

  &:last-child {
    border: none;
  }

  &:first-child {
    padding-top: 0;

    .news__wrapper {
      flex-flow: column-reverse nowrap;

    }
  }
}

.news__wrapper {
  padding-right: 20px;
  display: flex;
  flex-flow: row nowrap;
}

.news__left {
}