.popular-news__image {
  margin-bottom: 20px;
}

.popular-news-image__content {
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &--first {
    width: 300px;
    height: 200px;
    display: block;
  }

  &--other {
    width: 300px;
    height: 200px;
    display: none;
  }
}