.heading {
  color: $TextColor;
  font-family: Georgia;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  max-height: 68px;
  transition-property: color;
  transition-duration: .8s;
  transition-timing-function: ease-in;
}

.heading__content {
  &:hover {
    color: $HoverGreen;
  }
}

