.image {
  margin-bottom: 20px;
}

.image__content {
  width: 100%;
  height: auto;
  background-color: #dcdcdc;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &--small {
    width: 144px;
    height: 144px;
  }

  &--big {
    width: 630px;
    height: 350px;
  }
}