.heading {
  margin-bottom: 10px;
}

.heading__content {
  font-family: Georgia;
  color: $TextColor;
  line-height: 1.1;
  font-weight: 700;

  &--default {
    font-size: 22px;
  }

  &--main {
    font-size: 35px;
  }
}