.header-center__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__wrapper {
  background: svg-load('Logo.svg', fill=$NavIconColor, width=100%, height=100%) center no-repeat;
  width: 100%;
  height: 70px;
}
